
/* TOP BAR */

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: rgb(0,176,129);
  text-align: center;
  box-shadow: 0 3px 0 rgba(0,0,0,0.2);
 }

.top-bar .name h1 {
  font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif;
  color: white;
  font-size: 24px;
}

.top-bar .title{
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 80px;
  z-index: 12;
  background: rgba(0,0,0,0.6);
  border-radius: 6px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  color: white;
  font-family: 'Open Sans Regular', Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 12px;
  display: none;
}

/* LOGIN INFO */

.wrapper-body {
  position: fixed;
  top: -5%;
  width: 100%;
  height: 105%;
  background-image: url('/images/landing.jpg');
  background-size: cover;
  z-index: -10;
}

.headline h1{
  text-align: center;
  color: white;
  font-size: 72px;
  font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 1px black;
}

.panel p {
  font-family: 'Open Sans Regular', Helvetica, Arial, sans-serif;

}

/* VINES */

.row.vine-container {
  border-bottom: solid 1px #ddd;
  margin-bottom: 40px;
}

.metadata .author-profile-picture {
  float: left;
  padding: 10px;
  padding-left: 0;
}

.metadata .text-data .timestamp {
  color: #999;
  float: right;
  margin-right: 8px;
  font-size: 20px;
  line-height: 1.6;
}

.metadata .text-data .author-name {
  color: rgb(26, 170, 133);
  font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 20px;
}

.metadata .text-data .video-caption {
  color: #111;
  font-family: 'Open Sans Regular', Helvetica, Arial, sans-serif;
  font-size: 24px;
}

.metadata .action-buttons {
  margin-top: 10px;
}

.twitter-share{
  float: left;
  margin-left: 5px;
}

.twitter-share:hover{
  cursor: hand;
  cursor: pointer;
}

/* BUTTONS */

.button {
  border-radius: 8px;
  font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif;
}

.button.revine-button {
  background: rgb(0,176,129);
  width: 310px;
  box-shadow: 0 4px 0 rgb(0, 127, 91);
  font-size: 18px;
  float: left;
}

.button.revine-button:hover{
  /*background-color: #1dc094;*/
  background-color: #20d6a5;
  border-color: #007f5b;
  box-shadow: 0 4px 0 #007f5b;
}

.button.revine-button:active {
  background-color: #009B76;
  border-width: 3px 1px 1px 1px;
  margin-top: 11px;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 0;
}

.twitter-share {
  opacity: 0.3;
}

.postToTwitter .twitter-share {
  opacity: 1.0;
}

video {
  width: 100%;
}
